body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#bCarga,
#bEliminar,
#bSubir {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    text-align: center;
}

th {
    background-color: lightgray;
}